@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-gray-700;
}

body {
  @apply bg-defense-dark text-gray-100 ;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .defense-glow {
    @apply shadow-lg shadow-defense-accent/20;
  }
  
  .defense-danger-glow {
    @apply shadow-lg shadow-defense-danger/30;
  }
  
  .defense-card {
    @apply bg-gray-900 border border-gray-800 rounded-lg defense-glow;
  }
  
  .defense-badge {
    @apply inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium;
  }
}
